---
import { phylums } from "../utils/phylums";

interface Props {
  phylum: string;
}

const { phylum } = Astro.props;

const finded = phylums.find((element) => element.title === phylum);
---

<section
  class="flex flex-col w-[70%] min-h-[466px] rounded-[45px] shadow-stable mb-[40px] p-8 justify-center items-center relative"
>
  <a
    href="/explore"
    class="flex flew-row justify-center items-center shadow-stable w-[125px] h-[50px] rounded-3xl xs:mb-5 md:absolute top-[30px] left-[25px] gap-2 hover:scale-110 duration-500 transition"
  >
    <img src="/flecha.svg" alt="" class="w-8 h-8" />
    Volver</a
  >
  <h2 class="font-bold text-xl mb-4">
    {finded?.title}
  </h2>
  <article
    class="flex flex-row flex-wrap items-center justify-center justify-items-center w-full gap-10"
  >
    <div
      transition:name=`img-${phylum}`
      class="flex rounded-[45px] shadow-stable w-[240px] h-[260px] items-center justify-center mb-8"
    >
      <img class="h-[200px] w-[200px]" src={finded?.image} />
    </div>
    <div class="max-w-[500px]">
      <div class="flex flex-wrap justify-items-left gap-4 mb-4">
        {
          finded?.tags.map((t) => (
            <p class="rounded-[45px] min-w-[150px] text-center py-2 bg-[#156703] text-xs text-white font-bold select-none">
              {t}
            </p>
          ))
        }
      </div>
      <div class="flex flex-col gap-4">
        {
          finded?.description.map((p) => (
            <p class="text-md text-left text-pretty">{p}</p>
          ))
        }
      </div>
    </div>
  </article>
</section>
